<div class="utah-container">
  <div class="utah-pic"></div>
</div>
<article class="bio-container">
  <h2 class="bio-h2">Welcome to Utah!</h2>
  <p class="bio-p">Hello! I'm Utah. I'm a scrappy front end developer with an eye for design and creativity for days. </p>
  <p class="bio-p">I am a committed user advocate with a wide range of development skills. I build user interfaces that are responsive, compatible across browsers, and easy to use. I flourish in close team environments, integrating pair and solo programming. I write clean code, care deeply about best practices, and work hard to always be better.</p>
  <p class="bio-p">My people skills are stellar, I'm naturally exuberant, and I've got a wicked fun sense of humor.</p>
  <p class="bio-p">If you like that kind of thing, we should talk.</p>
</article>
