
<aside class="col-left">
  <figure>
    <img src="images/spacekittenutah.png" alt="Utah Kate Newman with flying space kitten"></figure>
    <figcaption>Why, yes. Yes, I <span>have</span> been to space with a flying kitten.</figcaption>
  </figure>
  <section class="interests">
    <p><span>When not building websites,</span> learning new tricks, or talking to other nerds,</p> 
    <p><span>I am likely:</span> singing karaoke, field-testing sandwich places, playing guitar, writing, trying to get my cat to eat ham, and/or sit in my lap, and laughing. Like, a lot.</p>
  </section>
</aside>

<section class="about col-right">
  <h2>Welcome to Utah!</h2>
  <p>Hello, gentle reader! Please, come closer, and I will tell you a story of a scrappy frontend developer with an eye for design, and creativity for days. </p>

  <p>It's me. I'm talking about me.</p>

  <p>I am a self-taught front end developer and erstwhile teacher and biologist. I'm *passionate* about gorgeous design and totally rad interactivity, though not at the expense of usability. I have very strong people skills, buffeted by natural exuberance and a wicked good sense of humor.</p>

  <p>If you like that kind of thing, we should talk.</p>
</section>
    
