<article>
  <aside>
    <img src="images/utahblueface.jpg" alt="Utah Kate Newman head shot">
    <p>There's that word again, heavy. Why are things so heavy in the future. Is there a problem with the Earth's gravitational pull? You too. Back to the future. Never mind that now, never mind that now. Oh, hi , Marty. I didn't hear you come in. Fascinating device, this video unit.</p>
  </aside>
  <section>
    <h2>Something</h2>
      <p>Quiet, quiet. I'm gonna read your thoughts. Let's see now, you've come from a great distance? No, I refuse to except the responsibility. Alright kid, you stick to your father like glue and make sure that he takes her to the dance. It's about the future, isn't it? Weight has nothing to do with it.</p>
      <p>Alright, let's set your destination time. This is the exact time you left. I'm gonna send you back at exactly the same time. It's be like you never left. Now, I painted a white line on the street way over there, that's where you start from. I've calculated the distance and wind resistance fresh to active from the moment the lightning strikes, at exactly 7 minutes and 22 seconds. When this alarm goes off you hit the gas.</p>
    <h2>Something else</h2>
      <p>Great Scott. Let me see that photograph again of your brother. Just as I thought, this proves my theory, look at your brother. Huh? I'm sure that in 1985, plutonium is available at every corner drug store, but in 1955, it's a little hard to come by. Marty, I'm sorry, but I'm afraid you're stuck here. Watch this. Not me, the car, the car. My calculations are correct, when this baby hits eighty-eight miles per hour, your gonna see some serious shit. Watch this, watch this. Ha, what did I tell you, eighty-eight miles per hour. The temporal displacement occurred at exactly 1:20 a.m. and zero seconds. C'mon, c'mon let's go.</p>    
  </section>
</article>
    
