<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Utah | Front End Developer</title>
    <link rel="icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,200,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
  </head>
  <body>
    <div class="cf" id="container">
      <header>
        <a href="/" class="header">
          <hgroup>
            <h1>Utah Kate Newman</h1>
            <p>Front End Web Developer</p>
          </hgroup>
        </a>
        <nav>
          <ul>
            <li><a class="<%= @index %>" href="/">About</a></li>
            <li><a class="<%= @resume %>" href="resume">Resume</li>
            <li><a class="<%= @projects %>" href="projects">Projects</a></li>
            <li><a href="http://operationstormthecastle.blogspot.com">Blog</a></li>
          </ul>
        </nav>
      </header>

<%=yield%>    

    <footer>
      <address>
        <a href="http://twitter.com/theutahkate"><img src="images/twitter-with-circle.png" alt="twitter logo" class="social-icon"></a>
        <a href="https://github.com/theutahkate"><img src="images/github-with-circle.png" alt="github logo" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/utahkatenewman"><img src="images/linkedin-with-circle.png" alt="linked in logo" class="social-icon"></a>
        <a href="mailto:utah.kate.newman@gmail.com"><img src="images/mail.png" class="social-icon"></a>
        <p><small>&copy Utah Kate Newman, 2015</small></p>
      </address>
    </footer>
  </body>
</html>  