<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Utah | Frontend Developer</title>
    <link rel="icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,200,400' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="public/font-awesome-4.3.0/css/font-awesome-min.css"> -->

    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="container">
      <header>
        <a href="/" class="header">
          <hgroup>
            <h1>Utah Kate Newman</h1>
            <p>Front End Web Developer</p>
          </hgroup>
        </a>
        <nav>
          <ul>
            <li><a class="<%= @index %>" href="/">About</a></li>
            <li><a class="<%= @resume %>" href="resume">Resume</li>
            <li><a class="<%= @projects %>" href="projects">Projects</a></li>
            <li><a href="http://operationstormthecastle.blogspot.com">Blog</a></li>
          </ul>
        </nav>
      </header>

<%=yield%>    

      <footer class="cf">
        <address>
          <a href="https://github.com/theutahkate"><i class="fa fa-github"></i></a> 
          <a href="https://twitter.com/TheUtahKate"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/utahkatenewman"><i class="fa fa-linkedin"></i></a>
          <a href="mailto:utah.kate.newman@gmail.com"><i class="fa fa-envelope"></i></a>
          <p>&copy Utah Kate Newman, 2015</p>
        </address>
      </footer>
    </div>
  </body>
</html>  