<div class="main">
  <ul class="cf projects">
    <li>
      <figure>
        <a href="https://github.com/cromero/parkapp"><img src="images/projects/meterquest.png" id="meter-quest" alt="map of downtown Seattle with parking spots marked"></a>
        <figcaption>MeterQuest is an app to reduce traffic congestion by making it easier to find street parking. MeterQuest was built at The City of Seattle's Hack The Commute hackathon, over a period of two days.</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://theutahkate.github.io/CotBot/"><img src="images/projects/hammerbot2.png" id="hammerbot" alt="cartoon robot"></a>
        <figcaption>The Hammerbot is a css animated robot that dances to MC Hammer, in front of a color-changing background.</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://theutahkate.github.io/Cutesy-Dress-Up/"><img src="images/projects/fox.png" id="dress-up" alt="arctic fox wearing sunglasses"></a>
        <figcaption>Dress up cute animals, like you have always wanted to do.</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://theutahkate.github.io/devskeet"><img src="images/projects/lappysmall.png" alt="angry-faced cartoon laptop, used as a clay pigeon in the devskeet game" id="devskeet"></a>
        <figcaption>Devskeet is a video game for use by frustrated programmers. Instead of throwing your laptop out the window, shoot one with a shotgun instead!</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <a href="http://theutahkate.github.io/boggarts"><img src="images/projects/snape.png" id="snape" alt="Professor Snape saying 'You are the worst programmer I have ever met. You disgust me.'"></a>
        <figcaption>Impostor Syndrome...or something more sinister? Explore a new advancement in our understanding of Impostor Syndrome.</figcaption>
      </figure>
    </li>

    <!-- <li>
      <figure>
        <a href="http://operationstormthecastle.blogspot.com/2014/11/welcome-to-storming-castle-pilot.html"><img src="images/projects/castle.png" alt="castle icon" id="stc"></a>
        <figcaption>Storming The Castle is a grassroots, community-based pilot curriculum to increase access for marginalized people wanting a career in tech.</figcaption>
      </figure>
    </li> -->

    <li>
      <figure>
        <a href="https://github.com/theutahkate/Quadratics"><img src="images/projects/quadratics.jpg" alt="factored quadratic example" id="quadratic"></a>
        <figcaption>Python program that factors quadratic expressions. Not to be used for nefarious purposes.</figcaption>
      </figure>
    </li>
  </ul>
</div>