<div class="resume-container" id="main">
  <section class="about">
    <h2>About</h2>
    <p>Committed user advocate who builds user interfaces that are responsive, compatible across browsers, and easy to use. I flourish in close team environments, integrating pair and solo programming.  I write clean code, care deeply about best practices, and work hard to always be better.
    </p>
  </section>

  <section class="experience">
    <h2>Experience</h2>
    <section class="job drift">
      <h3 class="job--employer">Drift Marketplace</h3>
      <h4 class="job--position">Front End Engineer</h4>
      <p class="job--dates">May 2017 - August 2019</p>
      <ul class="job--duties">
        <li>Member of small engineering team of an early-stage renewable energy startup. Responsible for entire front end of the user-facing product for a year.</li>
        <li><span class="job--duties-heading">Flexible Implementations: </span>Led development of responsive user interfaces compatible across all major browsers. Targeted desktop, tablets, and iOS and android mobile devices. Adapted design mockups to a fluid, responsive implementation.</li>
        <li><span class="job--duties-heading">Design Integration: </span>Used HTML, CSS/Sass, and JavaScript to match design mockups and build desired behavior and interaction. Worked closely with design team to address user experience concerns, highlight technical limitations, and implement solutions. Incorporated feedback, iterated on designs.</li>
        <li><span class="job--duties-heading">Web Accessibility: </span>Spearheaded accessibility efforts company-wide. Conducted regular accessibility audits with automated testing tools and manual testing. Enacted solutions based on WCAG 2.0 standards. Mentored other frontend engineers in identifying and fixing accessibility bugs.</li>
        <li><span class="job--duties-heading">Server-side Implementations: </span>Used Golang to build and maintain the backend of user signup flows and admin panel functionality.</li>
        <li><span class="job--duties-heading">Data Visualization: </span>Created user dashboards to visualize power consumption and supplier data. Built complex customized features with Google Charts, and interactive supplier maps with the Mapbox GL JS library.</li>
        <li><span class="job--duties-heading">Software Development Cycle: </span>Replicated and triaged UI bugs, verified fixes, met sprint deadlines, actively participated in standups, retros, and code reviews.</li>
      </ul>
    </section>

    <section class="job nird">
      <h3 class="job--employer">Northwest Independent Ruby Development (NIRD)</h3>
      <h4 class="job--position">Consultant</h4>
      <p class="job--dates">June 2015 - March 2017</p>
      <ul class="job--duties">
        <li>Member of a small software consultancy. Worked on several client and internal projects, working in both greenfield and legacy applications.
        <li>Built responsive web sites compatible across all major browsers with HTML, CSS, JavaScript, AngularJS, and Bootstrap.</li>
        <li>Discussed UX issues and technical limitations with clients, recommended solutions.</li>
        <li>Applied SEO techniques to client and NIRD internal sites. Created semantic heading structures, canonical links, and structured data.</li>
        <li>Evaluated and incorporated third party libraries. Wrote and debugged server-side code in Ruby, integrating user input from a JavaScript Content Management System gem with Ruby PDF and docx generation gems.</li>
      </ul>
    </section>

    <section class="job">
      <h3 class="job--employer">Ada Developers Academy</h3>
      <h4 class="job--position">Instructional Assistant</h4>
      <p class="job--dates">February 2016 - July 2016</p>
      <ul class="job--duties">
        <li>Lectured on fundamentals of semantic HTML5 and CSS3</li>
        <li>Communicated difficult technical concepts in written and 1-on-1 contexts</li>
        <li>Worked with students to troubleshoot code problems</li>
      </ul>
    </section>

    <section class="job uw">
      <h3 class="job--employer">University of Washington Professional and Continuing Education</h3>
      <h4 class="job--position">Teaching Assistant - HTML5 and CSS3 Foundations</h4>
      <p class="job--dates">October 2015 - December 2015</p>
      <ul class="job--duties">
        <li>Lectured on web accessibility and the Bootstrap framework</li>
        <li>Field student questions on in-class work in HTML5, CSS3, responsive design, and git</li>
        <li>Provided clear and constructive feedback in grading weekly student assignments</li>
      </ul>
    </section>
  </section> <!-- end work experience -->

  <section class="community">
    <h2>Community Involvement</h2>
    <section class="job">
      <h3 class="job--employer">University of Washington Professional and Continuing Education</h3>
      <h4 class="job--position">Advisory Board Member - Front End Development Certificate</h4>
      <p class="job--dates">06/18 - present</p>
      <p class="volunteer-blurb">
        Meet with UW PCE staff to identify desired overall program learning objectives and outcomes, and determine the sequence of courses and course curriculum.
      </p>
    </section>
    <section class="job">
      <h3 class="job--employer">Open Source &#38; Feelings Conference</h3>
      <h4 class="job--position">Core Organizer</h4>
      <p class="job--dates">04/15 - 12/15</p>
      <p class="volunteer-blurb">A conference for creating and maintaining healthy, inclusive Open Source culture, with 19 invited speakers and close to 200 attendees.</p>
    </section>
    <section class="job">
      <h3 class="job--employer">Girl Develop It!</h3>
      <h4 class="job--position">Study Group Coordinator and Teaching Assistant</h4>
      <p class="job--dates">07/14 - 4/16</p>
      <p class="volunteer-blurb">Girl Develop It provides affordable and judgment-free opportunities for women interested in learning web and software development.</p>
    </section>
  </section>

  <section>
    <h2>Skills</h2>
    <p class="skills">HTML5, CSS3, Sass, JavaScript, jQuery, Web Accessibility, Responsive Design, Bootstrap, Golang, Ruby, Rails, Sinatra</p>
  </section> <!-- end skills section-->

  <section class="education">
    <h2>Education</h2>
    <ul class="schools">
      <li>General Assembly
        <span class="degree">Javascript Development Certificate</span>
        <span class="degree-short">MS in Biology</span>
      </li>
      <li>University of Kentucky
        <span class="degree">Master of Science in Biology</span>
        <span class="degree-short">MS in Biology</span>
      </li>
      <li>The Evergreen State College
        <span class="degree">Bachelor of Science in Biology</span>
        <span class="degree-short">BS in Biology</span>
      </li>
      <li>University of Puget Sound
        <span class="degree">Bachelor of Arts in History</span>
        <span class="degree-short">BA in History</span>
      </li>
    </ul>
  </section>
</div>
