    
<section class="skills">
  <h2>Skills</h2>
  <section class="skills-col">
    <div><h3>Languages and Frameworks</h3></div>
    <ul>
      <li>HTML5, ERB</li>
      <li>CSS3, Sass</li>
      <li>JavaScript, jQuery</li>
      <li>Angular</li>
      <li>Sinatra</li>
      <li>Ruby, Rspec</li>
      <li>Python</li>
      <li>Rails</li>
    </ul>
  </section> <!-- end languages -->
  <section class="skills-col tools">
    <div id="tool-col"><h3>Tools</h3></div>
    <ul>
      <li>Git, GitHub</li>
      <li>Responsive Design</li>
      <li>Agile methodology</li>
      <li>Pivotal Tracker
      <li>Sublime Text Editor</li>
      <li>Command Line</li>
      <li>Heroku</li>
    </ul>
  </section> <!-- end tools -->
</section> <!-- end skills section-->

<section class="experience">
  <h2>Experience</h2>
  <section class="job">
    <h3>Storming The Castle</h3>
    <p class="dates">10/14 - present</p>
    <p class="blurb">Storming The Castle is a crowdfunded initiative I created to lower barriers for women and LGBTQ folks who want to transition into web development, but who cannot afford an expensive boot camp or CS degree.</p>
    <h4>CHIEF LEARNING OFFICER?</h4>
    <ul>
      <li>Curate a Ruby on Rails curriculum from freely available resources</li>
      <li>Create new resources where existing resources are insufficient</li>
      <li>Maintain a blog of technical posts and learning experience</li>
    </ul>
  </section> <!-- End STC -->

  <section class="job">
    <h3>Rails Girls Summer of Code</h3>
    <p class="dates">06/14 - 09/15</p>
    <p class="blurb">RGSoC is a global fellowship program aimed at bringing more diversity into Open Source. My team worked on diaspora<span class="charfix">*</span>, an open source, distributed social networking site.</p>
    <h4>Student</h4>
    <ul>
      <li>Customized Bootstrap and Blueprint themes to match styleguides</li>
      <li>Identified and fixed dependency bug in Omniauth-wordpress gem that was breaking diaspora<span class="charfix">*</span></li>
      <li>Updated gem versions of application</li>
      <li>Posted engaging daily blog entries about learning experience</li>
  </section> <!-- end RGSoC -->

  <section class="job">
    <h3>Brightmont Academy</h3>
    <p class="dates">10/11 to 6/14</p>
    <p class="blurb">Brightmont Academy is an accredited private school that provides one-to-one instruction for middle and high school students.</p>
    <h4>Science Instructor</h4>
    <ul>
      <li>Developed and implemented science and math curriculum for high school</li>
      <li>Dynamically taught courses in Algebra, Biology, Chemistry, Financial Literacy, Geometry, Physical Science, and SAT prep.</li>
    </ul>   
  </section> <!-- end Brightmont -->

  <section class="job">
    <h3>University of Kentucky Biology Department</h3>
    <p class="dates">08/08 - 05/11</p>
    <h4>Graduate Teaching Assistant</h4>
    <ul>
      <li>Successfully taught four lab sections each of General Biology for non-majors,  Principles of Integrative Biology I and Principles of Integrative Biology II.</li>
      <li>Delivered dynamic classroom introductions and clear explanations of lab procedures.</li>
    </ul>
  </section> <!-- end UK -->

  <section class="job">
    <h3>Camp Killoqua</h3>
    <p class="dates">04/07 - 06/08</p>
    <p class="blurb">Camp Fire USA site offering summer camp and year-round leadership and outdoor ed programs for schools and rental groups.</p>
    <h4>Program Director</h4>
    <ul>
      <li>Managed crafts, challenge course, day camp, leadership, and rental programs, including staffing, training, scheduling. EDIT THIS</li>
      <li>Resolved crisis situations with calm and versatility.</li>
      <li>Taught and facilitated rock climbing and ropes courses.</li>
    </ul>
  </section> <!-- end Killoqua -->        
</section> <!-- end experience section -->

<section class="community">
  <h2>Community Involvement</h2>
  <section class="vol-job">
    <h3>Girl Develop It!</h3>
    <p class="dates">07/14 - present</p>
    <p class="blurb">Nonprofit that provides affordable and judgment-free opportunities for women interested in learning web and software development.</p>
    <ul>
      <li>TA classes</li>
      <li>Organize weekly study group, facilitating connections between women in all career stages, and mentoring newer learners</li>
    </ul>
  </section>

  <section class="vol-job">
    <h3>Railsbridge</h3>
    <p class="dates">04/14 - present</p>
    <p class="blurb">RailsBridge workshops are a free and fun way to get started or level up with Rails, Ruby, and other web technologies. Our events focus on increasing diversity in tech, so that people of all backgrounds can feel welcome and comfortable in our industry.</p>
    <ul>
      <li>Assist 10 - 35 women with writing their first Rails app and deploying it to Heroku, including introduction to the command line, Ruby language, and Git &amp; Github</li>
    </ul>
  </section>

  <section class="vol-job">
    <h3>Bushwick Book Club</h3>
    <p class="dates">03/12 - present</p>
    <p class="blurb">The Bushwick Book Club Seattle are a group of musicians dedicated to sharing our combined passion for both music and reading with the Seattle community and beyond. With each performance, a book is chosen which is read by our talented Bushwick artists who then write original music inspired by the book they just read. Our education program, known asÂ STYLE (Songwriting Through Youth Literature Education), offers 1 – 5 day programs available for in school music and reading workshops. We work with grades K -12</p>
    <ul>
      <li>Event support</li>
      <li>Web content generation</li>
    </ul>
  </section>

  <section class="vol-job">
    <h3>Camp Ten Trees</h3>
    <p class="dates">01/13 - present</p>
    <p class="blurb">Camp Ten Trees is a nonprofit organization offering summer camp sessions for LGBTQ youth, and for children and youth of LGBTQ and/or non-traditional families.</p>
    <ul>
      <li>Fundraising</li>
    </ul>
  </section>
</section> <!-- end community section -->

<section class="education">
  <h2>Education</h2>
  <section class="self">
    <h3>Self Education</h3>
    <h4>Projects</h4>
      <ul>
        <li><a href=""https://github.com/cromero/parkapp"">MeterQuest</a> - Angular app, and team project for Seattle's <a href="http://hackthecommute.seattle.gov/#sthash.lStY4l9Q.dpbs">Hack the Commute</a> Hackathon</li>
        <li><a href="http://theutahkate.github.io/CotBot/">Hammerbot</a> - Animations with CSS, Javascript, jQuery, and the sweet, sweet music of MC Hammer</li>
        <li><a href="http://theutahkate.github.io/devskeet">DevSkeet</a> - PhaserJS game providing an outlet for developer rage</li>
        <!-- <li><a href="">STP Archery</a> - Hand-coded pure HTML and CSS brochure site</li> -->
        <li><a href="http://theutahkate.github.io/boggarts">Boggarts</a> - Defeating impostor syndrome with HTML, CSS, and a tiny bit of jQuery</li>
        <li><a href=""http://theutahkate.github.io/Cutesy-Dress-Up/"">Dress up fox</a> - An utterly adorable exploration of jQuery</li>
        <li><a href="https://github.com/theutahkate/Quadratics">Fun With Quadratics!</a> - Python program that factors quadratic expressions</li>
        <!-- <li><a href="">Mastermind</a> - Ruby interactive game</li> -->
        <!-- <li><a href="">Wham-o-Tron</a> - Rank your favorite Wham! songs, while exploring Rails and frontendiness</li> -->
        <!-- <li><a href="">Sweet Potato</a> - Angular app to organize your TV shows</li> -->
  </section>
  <section>
    <h3>Degrees</h3>
    <section class="degree">
      <h4>University of Kentucky</h4>
      <p>Master of Science - Biology</p>
    </section>
    <section class="degree">
      <h4>The Evergreen State College</h4>
      <p>Bachelor of Science - Biology</p>
    </section>
    <section class="degree">
      <h4>University of Puget Sound</h4>
      <p>Bachelor of Arts - History</p>
    </section>
  </section> <!-- end degrees -->
</section> <!-- end education -->
</div> <!-- end container -->
