<div class="resume-container" id="main">
  <section class="about">
    <h2>About</h2>
    <p>Committed user advocate with a wide range of development skills. I build user interfaces that are responsive, compatible across browsers, and easy to use. I flourish in close team environments, integrating pair and solo programming.  I write clean code, care deeply about best practices, and work hard to always be better.
    </p>
  </section>

  <section class="experience">
    <h2>Experience</h2>
    <section class="job nird">
      <h3 class="job--employer">Northwest Independent Ruby Development (NIRD)</h3>
      <h4 class="job--position">Front-End Web Developer</h4>
      <p class="job--dates">June 2015 - March 2017</p>
      <ul class="job--duties">
        <li><span class="job--duties-heading">Flexible Implementations: </span>Built responsive web sites compatible across all major browsers  with HTML, CSS, JavaScript, AngularJS, and several preprocessors. Targeted desktop, tablets, and iOS and android mobile devices. Used combination of Bootstrap grid layouts and flexbox.</li>
        <li><span class="job--duties-heading">Design Integration: </span>Matched client mockups using HTML, CSS, and jQuery. Adapted desktop mockups to tablet and mobile screen widths. Used JavaScript and AngularJS to build desired behavior and interaction. Discussed user experience issues and technical limitations with clients, and recommended solutions. Incorporated feedback, iterated on designs.</li>
        <!-- the following in particular are medium - take out or leave, dep on employer -->
        <li><span class="job--duties-heading">Software Development Cycle: </span>Replicated and triaged UI bugs, verified fixes, met strict sprint deadlines, actively participated in standups and retros.</li>
        <!-- <li><span class="job--duties-heading">User Evangelism: </span>Advocated for user-friendly and accessible best practices company-wide.</li> -->
        <li><span class="job--duties-heading">Learning: </span>Consistently studied and applied new techniques to improve code.</li>
        <li><span class="job--duties-heading">Search Engine Optimization: </span>Applied SEO techniques to client and NIRD internal sites to improve ranking and appearance in search engine results. Created semantic heading structures, canonical links, and structured data.</li>
        <li><span class="job--duties-heading">Accessibility: </span>Implemented compliance with Section 508 of the Americans with Disabilities Acts</li>
        <!-- <li><span class="job--duties-heading">California State Treasury Department - Open Data Portal:</span> Implemented compliance with Section 508 of the Americans with Disabilities Acts</li> -->
        <li><span class="job--duties-heading">Specialized Third Party App Integration:  </span>Evaluated and incorporated third party libraries. Wrote and debugged server side code in Ruby, integrating user input from a JavaScript Content Management System gem with Ruby PDF and docx generation gems.</li>
        <!-- <li><span class="job--duties-heading">Avvo, Inc - Legal Forms Application:</span> Built multiple features in admin and end user interfaces. Evaluated and incorporated third party libraries. Wrote and debugged server side code in Ruby, integrating user input from a JavaScript Content Management System gem with Ruby PDF and docx generation gems.</li> -->
      </ul>
    </section>

    <section class="job">
      <h3 class="job--employer">Ada Developers Academy</h3>
      <h4 class="job--position">Instructional Assistant</h4>
      <p class="job--dates">February 2016 - July 2016</p>
      <ul class="job--duties">
        <li>Lectured on fundamentals of semantic HTML5 and CSS3</li>
        <li>Communicated difficult technical concepts in written and 1-on-1 contexts</li>
        <li>Worked with students to troubleshoot code problems</li>
      </ul>
    </section>

    <section class="job uw">
      <h3 class="job--employer">University of Washington Professional and Continuing Education
  </h3>
      <h4 class="job--position">Teaching Assistant - HTML5 and CSS3 Foundations</h4>
      <p class="job--dates">October 2015 - December 2015</p>
      <ul class="job--duties">
        <li>Lectured on web accessibility and the Bootstrap framework</li>
        <li>Field student questions on in-class work in HTML5, CSS3, responsive design, and git</li>
        <li>Provided clear and constructive feedback in grading weekly student assignments</li>
      </ul>
    </section>

    <section class="job">
      <h3 class="job--employer">Rails Girls Summer of Code</h3>
      <h4 class="job--position">Intern</h4>
      <p class="job--dates">June 2014 - September 2014</p>
      <ul class="job--duties">
        <li>Worked with immense legacy code base for an open source social networking site</li>
        <li>Customized Bootstrap themes to match style guides</li>
        <li>Communicated with an international team of developers</li>
      </ul>
    </section>
  </section> <!-- end work experience -->

  <section class="community">
    <h2>Community Involvement</h2>
    <section class="job">
      <h3 class="job--employer">Open Source &#38; Feelings Conference</h3>
      <h4 class="job--position">Core Organizer</h4>
      <p class="job--dates">04/15 - 12/15</p>
      <p class="volunteer-blurb">A conference for creating and maintaining healthy, inclusive Open Source culture, with 19 invited speakers and close to 200 attendees.</p>
      <!-- <ul class="job--duties">
        <li>Created written content for website, sponsor prospectus, and Call For Proposals.</li>
        <li>Collaborated with other organizers to secure venue, sponsors, speakers in alignment with conference mission.</li>
      </ul> -->
    </section>
    <section class="job">
      <h3 class="job--employer">Girl Develop It!</h3>
      <h4 class="job--position">Study Group Coordinator and Teaching Assistant</h4>
      <p class="job--dates">07/14 - 4/16</p>
      <p class="volunteer-blurb">Girl Develop It provides affordable and judgment-free opportunities for women interested in learning web and software development.</p>
      <!-- <ul class="job--duties">
        <li>Assisted students in HTML, CSS, and Git/GitHub classes</li>
        <li>Organized weekly study group, facilitating connections between women in all career stages, and mentoring newer learners</li>
      </ul> -->
    </section>
    <section class="job">
      <h3 class="job--employer">Railsbridge</h3>
      <h4 class="job--position">Teaching Assistant</h4>
      <p class="job--dates">04/14 - present</p>
      <p class="volunteer-blurb">RailsBridge puts on free and supportive workshops for women to get started or level up with Ruby and Rails.</p>
      <!-- <ul class="job--duties">
        <li>Assisted 10 - 35 women with writing their first Rails app and deploying it to Heroku, including introduction to the command line, Ruby language, and Git &amp; Github</li>
      </ul> -->
    </section>
  </section>

  <section>
    <h2>Skills</h2>
    <p class="skills">Ruby, Rails, HTML5, Haml, ERB, CSS3, Sass, Bootstrap Framework, JavaScript, jQuery, AngularJS, Responsive Design, SEO, Web Accessibility, Sinatra, Agile Methodologies</p>
  </section> <!-- end skills section-->

  <section class="education">
    <h2>Education</h2>
    <ul class="schools">
      <li>University of Kentucky
        <span class="degree">Master of Science in Biology</span>
        <span class="degree-short">MS in Biology</span>
      </li>
      <li>The Evergreen State College
        <span class="degree">Bachelor of Science in Biology</span>
        <span class="degree-short">BS in Biology</span>
      </li>
      <li>University of Puget Sound
        <span class="degree">Bachelor of Arts in History</span>
        <span class="degree-short">BA in History</span>
      </li>
    </ul>
  </section>
</div>
