* { box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;}

body {
  font-family: "Raleway", Arial, sans-serif;
  margin: 0;
  background-color: #951533;
  color: #fff;
}

#container {margin: 0 auto;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {clear: both;}

.cf {zoom: 1;}


.header {text-decoration: none;}

header {
  background-color: #000;
  width: 100%;
  float: left;
  margin-bottom: 4%;
  border-bottom: 1px solid #797774;
  padding: 1% 2% 2% 3%;
}

h1 {
  margin-bottom: -25px;
  margin-top: 3%;
  font-size: 4.25rem;
  font-weight: 400;
  color: #fff;
}

header p {
  text-decoration: none;
  color: #797774;
  font-weight: 200; 
  font-size: 1.75rem;
  margin-left: 0.5%;
  padding-bottom: 2%;
}

nav {
  margin-left: -3%;
  float: left;
  padding-top: 0;
  padding-left: 3.25%;
  border-top: 1px solid #797774;
  width: 105%;
}

nav ul {
  margin-top: 1.5%;
  margin-bottom: -.5%;
  padding-left: 0;
}

nav a {text-decoration: none; color: #797774;}

nav a:hover {color: #fff;}

.selected, .selected:hover {
  color: #951533;
  font-weight: 600;
}

nav li {
  display: inline-block;
  text-align: center;
  padding: 0 12px 0 5px; 
  border-right: 2px solid #fff;
  list-style: none;
  font-size: 1.25em;
  font-weight: 200;
}

nav li:last-child {border-right: none;}

/*-----^^^End Header^^^-----*/


/*--------footer---------*/

footer {
  clear: left;
  padding: 0%;
  border-top: 1px solid #fff;
}

address {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-top: 4%;
}

address a {text-decoration: none; color: #fff;}

address a:hover {color: #000;}

address i {padding: 0 3%;}

address p {
  text-align: center;
  width: 100%;
  font-style: normal;
  color: #fff;
  font-size: 1rem;
  margin-top: 3%;
}


/*---^^^End Footer^^^---*/



/*--------About--------*/
.col-left {
  width: 34%;
  margin: 2% 2% 5% 3%;
  float: left;
  font-weight: 200;
  color: #fff;
  border-top: 1px solid #CBCACA;
  border-bottom: 1px solid #CBCACA;
}

.col-right {
  width: 56%;
  margin: -2% 3% 0 2%;
  float: left;
  font-size: 1.25em;
  font-weight: 200;
}

.col-right h2 {
  font-size: 2.5em;
  font-weight: 600;
}

.col-right p {text-align: justify;}

.col-right p:last-child {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
  margin-top: 10%;
}

span {font-style: italic;}

p span {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  color: #951533;
}

aside figcaption {
  background-color: #292929;
  padding: 6% 4%;
  border-bottom: 1px solid #CBCACA;
  font-size: 1em;
  margin-top: -2%;
}

.interests {
  background-color: #292929;
  padding: 6% 8%;
}

aside p {font-size: 1.25rem; line-height: 1.5em;}

aside figure {margin: 0;}

aside img {width: 100%; border-bottom: 1px solid #CBCACA;}


/*-----^^^End About^^^-----*/



/*-------Resume---------*/

h2 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.skills {
  clear: both;
  margin: 0 7%;
  width: 100%;
  padding-bottom: 45%;
}

.skills h2 {color: #fff; margin: 4% 0 -1% -7%;}

.skills-col {
  width: 29%;
  color: #fff;
  float: left;
  font-weight: 200;
  font-size: 1.25rem;
  margin: 0 7%;
  line-height: 200%;
}

.skills-col h3 {
  padding-left: 2%;
  font-size: 1.5rem;
  font-weight: 400;
  width: 29%;
  color: #fff;
}

.skills-col div {
  border-bottom: 3px solid rgba(41, 41, 41, .75);
  height: 150px;
}

#tool-col {line-height: 1000%;}

/*------Resume: Experience------*/

.experience {
  clear: left;
  background-color: white;
  margin: 0 -3%;
  padding: 0 10% 8% 5%;
  margin-bottom: -4%;
  color: black;
  border-top: 1px solid #000;
}

.experience h2 {color: #951533;}

.experience h3, .community h3, .education h3 {
  padding-left: 2%;
  font-weight: 600;
  color: #951533;
  font-size: 1.75em;
}

.job, .vol-job {padding-bottom: 1%;}

.dates {
  margin-top: -2%;
  padding-left: 5%;
  font-weight: 200;
  font-size: 1.2em;
  color: #951533;
}

.blurb {
  padding-left: 7%;
  font-size: 1.1em;
  margin: -1% 0;
}

.experience h4, .education h4 {
  padding-left: 5%;
  font-size: 1.2em;
  color: #951533;
  font-weight: 200;
}

.experience h4 {margin-bottom: 1.5%;}

.experience ul {
  padding-left: 9%;
  font-size: 1.1em;
  line-height: 150%;
  margin-top: -1%;
}

.charfix {font-size: 1.2em; color: black;}

/*-----Resume: Community Involvement-----*/

.community {
  clear: left;
  background-color: #CBCACA;
  color: #951533;
  margin: 0 -3%;
  padding: 0 10% 7% 5%;
  border-top: 1px solid #292929;
  margin-bottom: -4%;
}

.community h2, .community h3 {color: #292929;}

.community .dates {color: #292929;}

.community .blurb {color: #292929;}

.community ul {
  margin-top: 3%;
  padding-left: 11%;
  font-size: 1.1em;
  line-height: 130%;
  font-weight: 600;
}

/*------Resume: Education------*/

.education {
  background-color: #000;
  color: #797774;
  clear: left; /*do i need this?*/
  margin: 0 -3%;
  padding: 0 10% 7% 5%;
  border-top: 1px solid #fff;
}

.education h3, .education h4 {color: #797774;}

.education h4 {font-weight: 600; color: #CBCACA;}

.education ul {
  padding-left: 9%;
  font-size: 1.1em;
  line-height: 150%;
  margin-top: -1%;
  list-style: none;
  color: #CBCACA;
  font-weight: 200;
}

.education a {color: #951533;font-weight: 400;}

.education a:hover {color: #797774;}

.education p {
  margin-top: -2%;
  padding-left: 7%;
  font-weight: 200;
  font-size: 1.1em;
  color: #797774;
}

.degree {margin: -2% 0;}

h4 span {
  color: #797774;
  font-weight: 200;
  font-size: 1em;
  font-style: normal;
  margin-left: 5%;
}
/*---^^End Resume^^---*/



/*-----Projects------*/

figcaption {text-align: center;}

.projects {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.projects {margin-bottom: 3%;}

.projects li {
  width: 18.75rem;
  height: 25rem;
  margin: 1.5rem;
  float: left;
  display: inline-block;
  background-color: #797774;
  border: 2px solid #292929;
}

#meter-quest, #snape {
  width: 120%;
  margin-left: -10%; 
}

#stc, #devskeet {
  padding: 5%;
  background-color: #fff;
  margin-left: -5%;
}

#stc {
  margin-top: 3%;
  margin-bottom: 3%;
}

.projects img {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #292929;
}

#quadratic {
  width: 120%;
  margin: 6% 0 15% -10%;
  height: 210px;
}
/*---^^End Projects^^---*/



/*----------Responsive < 94rem -----------*/
@media screen and (min-width: 95rem) {
  .projects li:nth-child(4n+5) {clear: both;}
}

/*----------Responsive < 94rem -----------*/
@media screen and (max-width: 94rem) and (min-width: 71rem) {
  .projects li:nth-child(3n+4) {clear: both;}
}

/*----------Responsive < 70rem -----------*/

@media screen and (max-width: 70rem) and (min-width: 47rem) {
  .projects li:nth-child(2n+3) {clear:both;}
}

/*----------Responsive < 46rem -----------*/

@media screen and (max-width: 46rem) {
  .projects li:nth-child(n+2) {clear: both;}
}

/*----------Responsive < 700px -----------*/
@media screen and (max-width: 700px) {
  h1 {font-size: 3.5em;}
  header p {font-size: 1.5em; padding-bottom: 1%;}
  header {padding-top: 0.5%;}
  p span {font-size: 1.75rem;}

  aside p {font-size: 1.2rem;line-height: 1.2em;}

  figcaption {margin-top: -2%; font-size: 1rem;}

  .col-right {font-size: 1.1rem;}
}

/*----------Responsive < 550px -----------*/

@media screen and (max-width: 550px) {
  h1 {
    margin-right: 5%; 
    margin-bottom: -3%; 
    line-height: .9em;
  }
  header p {font-size: 1.35em; padding-bottom: 0;}
  header {padding-left: 5%;}
  nav {margin-left: -4.5%;}

  .skills-col {
  width: 79%;
  font-size: 1.25rem;
  margin: 0 3.5%;
  }

  .skills-col h3 {
  font-size: 1.5rem;
  width: 79%;
  line-height: 120%;
  }

  .skills-col div {height: 70px;}

  .skills h2 {color: #fff; margin: 4% 0 1% -7%;}

  #tool-col {height: 40px;}


  /*------resp<500 about page-----*/
  .col-left {border: none;}
  .col-left, .col-right {width: 80%; margin: 0 10%;}
  .col-left img {
    border-top: 1px solid #CBCACA;
    border-bottom: 1px solid #CBCACA;
  }
  header {text-align: center;}
  aside figcaption, .interests {display: none;}

  .about h2 {margin: 5% auto 0%;}
}
