.utah-container {
	position: relative;
	width: 18.75rem;
	height: 18.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.utah-pic:before {
	content: "";
  position: absolute;
  width: 90%;
  height: 90%;
	border-radius: 50%;
	border: 5px solid #007AD8;
  z-index: -1;
  background: url('/images/utah.png') 0 0 no-repeat;
  background-size: cover;
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  transform: rotate(-22deg);
}

.bio-container {
	width: 90%;
	max-width: 50rem;
	margin: 0 auto 2.5rem;
}

.bio-p {
	color: #333;
	font-size: 1.1rem;
}

.bio-h2 {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	color: #007AD8;
}