header {
  text-align: center;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  margin-bottom: 4%;
  border-bottom: 1px solid #797774;
  padding: .5rem 1rem 1rem .5rem;
}

.h1-name {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.h1-title {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  font-style: normal;
  color: #797774;
}

.header-animation {
  position: relative;
  top: calc( 50% - 53px );
  transform: translateY(-50%);
  width: 436px;
  height: 200px;
  margin: 0 auto;
}

.animation-name {
  position: absolute;
  left: 0;
  top: 0;
  width: 436px;
  height: 200px;
  font-family: 'Archivo Black';
  font-size: 140px;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #fff;
}

.animation-lines {
  left: 0;
  top: 0;
  position: absolute;
  width: 436px;
  height: 200px;
}

.line {
  position: absolute;
}

.horizontal {
  border-bottom: 3px solid #fff;
  width: 100vw;
}

.vertical {
  border-right: 3px solid #fff;
  height: 100vh;
}

.u {
  top: 56px;
  right: 425px;
}

.t {
  top: 154px;
  left: 151px;
}

.a {
  bottom: 141px;
  right: 189px;
}

.h {
  top: 116px;
  left: 425px;
}

.nav a {text-decoration: none; color: #797774;}

.nav a:hover {color: #fff;}

.nav .selected, .nav .selected:hover {
  color: #007AD8;
}

.nav-links {
  position: absolute;
  bottom: 1.5rem;
  margin: 0;
  text-align: left;
  padding-left: 0;
}

.nav-links li {
  display: block;
  padding: 0 12px 0 5px;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 200;
  &:last-child {
    padding-right: 0;
  }
}


//Responsive < 600px

.header-animation {
  @media screen and (max-width: 600px) {
    width: 310px;
  }
}

.animation-name {
  @media screen and (max-width: 600px) {
    width: 310px;
    font-size: 100px;
  }
}

.animation-lines {
  @media screen and (max-width: 600px) {
    width: 310px;
  }
}

.u {
  @media screen and (max-width: 600px) {
    top: 40px;
    right: 302px;
  }
}

.t {
  @media screen and (max-width: 600px) {
    top: 110px;
    left: 107px;
  }
}

.a {
  @media screen and (max-width: 600px) {
    bottom: 157px;
    right: 108px;
  }
}

.h {
  @media screen and (max-width: 600px) {
    top: 67px;
    left: 302px;
  }
}

