@include keyframes(move-horizontal) {
  0%   { width: 0px; }
  40%  { width: 0px; }
  100% { width: 100vw; }
}

@include keyframes(move-vertical) {
  0%   { height: 0px; }
  40%  { height: 0px; }
  100% { height: 100vh; }
}

@include keyframes(fade-in) {
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@include keyframes(nav-fade-in) {
  0%    { opacity: 0; }
  60%   { opacity: 0; }
  100%  { opacity: 1; }
}

.u, .h { @include animation('move-horizontal 5s 1'); }
.t, .a { @include animation('move-vertical 5s 1'); }

.animation-name { @include animation('fade-in 8s 1'); }
.nav-links, .h1-name { @include animation('nav-fade-in 5s 1'); }


// For chaining animations:
// @include animation('move-u .5s 1', 'next-animation .5s 1 .5s');
